<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý nhà thầu - Công Ty Cổ Phần Thep Hòa Phát Dung Quất</title>
    <meta name="description" content="Quản lý nhà thầu - Công Ty Cổ Phần Thep Hòa Phát Dung Quất">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="images/favicon.png">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="~/Content/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/pe-icon-7-filled.css">
    <link href="~/Content/assets/weather/css/weather-icons.css" rel="stylesheet">
    <link href="~/Content/assets/calendar/fullcalendar.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/assets/css/charts/chartist.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    
    <aside id="left-panel" class="left-panel">
        <div class="left-overlay" id="left-overlay"></div>
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"><i class="menu-icon fa fa-laptop"></i><span>Tổng quan</span> </a>
                    </li>
                    <li class="menu-title"><span>Cấu hình</span></li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cog"></i><span>Quản trị</span></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-users"></i><a href="@Url.Action("Index","NhanVien")"><span>Nhân viên</span></a></li>
                            <li><i class="fa fa-key" aria-hidden="true"></i><a href="@Url.Action("Index","Quyen")"><span>Quyền</span></a></li>
                            <li><i class="fa fa-id-badge"></i><a href="@Url.Action("Index","Permission")"><span>Phân Quyền</span></a></li>
                            <li><i class="fa fa-user" aria-hidden="true"></i><a href="@Url.Action("Index","NguoiDung")"><span>Người dùng</span></a></li>
                            <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="@Url.Action("Index","HopDong")"><span>Hợp đồng</span></a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i><a href="@Url.Action("Index","ContractExtension")"><span>Gia hạn hợp đồng</span></a></li>
                            <li><i class="fa fa-bars" aria-hidden="true"></i><a href="@Url.Action("Index","LoaiKhach")"><span>Loại Khách</span></a></li>
                            @*<li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>
        <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>
        <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>
        <li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>
        <li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>
        <li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>
        <li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>*@
                        </ul>
                    </li>
                    <li class="menu-title"><span>Hệ Thống</span></li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-suitcase"></i><span>Nhà thầu</span></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-id-badge"></i><a href="@Url.Action("Index","ContractorStaff")"><span>Nhân viên nhà thầu</span></a></li>
                            <li><i class="fa fa-leanpub"></i><a href="@Url.Action("Index","ResultsLearnSafe")"><span>Kết quả học an toàn</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i><span>Widgets</span> </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i><span>Charts</span></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html"><span>Chart JS</span></a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html"><span>Flot Chart</span></a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html"><span>Peity Chart</span></a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-map-marker"></i><span>Maps</span></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html"><span>Google Maps</span></a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html"><span>Vector Maps</span></a></li>
                        </ul>
                    </li>
                    <li class="menu-title"><span>Extras</span></li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i><span>Pages</span></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html"><span>Login</span></a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html"><span>Register</span></a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html"><span>Forget Pass</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>


    <div id="right-panel" class="right-panel">

        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="/images/logo.png" alt="logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="#" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle" onclick="collapseAside()"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i>My Profile</a>
                            <a class="nav-link" href="#"><i class="fa fa-bell-o"></i>Notifications <span class="count">13</span></a>
                            <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>
                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content pb-0">
            @RenderBody()


        </div>
        <div class="clearfix"></div>
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright © @DateTime.Now.Year Ban Công nghệ thông tin
                    </div>
                    <div class="col-sm-6 text-right">
                        Công ty cổ phần Thép Hòa Phát Dung Quất
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @*<script src="~/Content/assets/js/popper.min.js"></script>
        <script src="~/Content/assets/js/plugins.js"></script>
        <script src="~/Content/assets/js/main.js"></script>
        <script src="~/Content/assets/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="~/Content/assets/js/lib/chartist/chartist.min.js"></script>
        <script src="~/Content/assets/js/lib/chartist/chartist-plugin-legend.js"></script>
        <script src="~/Content/assets/js/lib/flot-chart/jquery.flot.js"></script>
        <script src="~/Content/assets/js/lib/flot-chart/jquery.flot.pie.js"></script>
        <script src="~/Content/assets/js/lib/flot-chart/jquery.flot.spline.js"></script>
        <script src="~/Content/assets/weather/js/jquery.simpleWeather.min.js"></script>
        <script src="~/Content/assets/weather/js/weather-init.js"></script>
        <script src="~/Content/assets/js/lib/moment/moment.js"></script>
        <script src="~/Content/assets/calendar/fullcalendar.min.js"></script>
        <script src="~/Content/assets/calendar/fullcalendar-init.js"></script>*@
    @RenderSection("scripts", required: false)

</body>

</html>
<script>
    function collapseAside() {

        /*var a = document.getElementsByClassName("hpContainer")[0];
        a.classList.toggle("active");
        console.log("dic cha");

        var item = document.getElementsByClassName("logo")[0];
        if (item.style.display === "none") {
            item.style.display = "inline-block";
        } else {
            item.style.display = "none";
        }
       

        var item = document.getElementById("ctMenu");
        if (item.style.display === "none") {
            item.style.display = "block";
        } else {
            item.style.display = "none";
        }
        console.log("ok");*/
        var l = document.getElementById("left-panel");
        l.classList.toggle("colapse");

        var r = document.getElementById("right-panel");
        r.classList.toggle("colapse");

        var lo = document.getElementById("left-overlay");
        lo.classList.toggle("colapse");

        var sp = document.getElementById("main-menu");
        sp.classList.toggle("colapse")

    }
</script>